<section>
  <div class="champPool">
    <div *ngFor="let champion of champions()">
      <app-champion [champion]="champion"></app-champion>
    </div>
  </div>
  <div class="guess">
    <input [(ngModel)]="guessChampionName" placeholder="Make a guess" />
    @if (guessChampionName && champions()) {
    <div *ngFor="
          let champion of champions()! | search: 'name' : guessChampionName
        ">
      <app-champion-display [champion]="champion"></app-champion-display>
    </div>
    }
  </div>
</section>
