.champion {
  display: flex;
  height: 55px;
  width: 200px;
  border: 2px solid black;
  border-radius: 5px;
  margin: 1px;
  padding: 5px;
  background-color: var(--color-scroll);
  transition: background 0.3s ease;
}

.name {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  margin-left: 10px;
}

.champion:hover {
  background: var(--color-scroll-dark);
  border: 3px solid var(--color-scroll-select);
}
